

.row{
   border-spacing: 40px;
   border-collapse: separate;
   border-radius: 10px;
   border-radius: 20px;
   border: 1px solid rgba(240, 145, 44, 0.34);
   border-top: none;
   border-left: none;
   border-right: none;
}


.check{
    background-color:orange;
    outline: none;
    border: 2px;
    border-color: red;
}

.bord{
    border: 1px solid rgba(240, 145, 44, 0.34);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

input[type="file"]{
  position: absolute;
  transform: scale(3);
  opacity: 0;
  cursor: pointer;
  height: 100px;
  width: 100px;
}




//checkbox styling

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .form-group {
    display: block;
  }
  
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
  }
  
  .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid 	#ffa366;
    border-radius: 4px;
    background-color: rgb(251, 240, 226);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid 	#f4c3a2;
    background-color: rgb(251, 240, 226);
    border-radius: 4px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

