
.row{
   border-spacing: 40px;
   border-collapse: separate;
   border-radius: 10px;
   border-radius: 20px;
   border: 1px solid rgba(240, 145, 44, 0.34);
   border-top: none;
   border-left: none;
   border-right: none;
}

.check{
    background-color:orange;
    outline: none;
    border: 2px;
    border-color: red;
}

.bord{
    border: 1px solid rgba(240, 145, 44, 0.34);
    border-bottom: none;
    border-left: none;
    border-right: none;
}





